<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="BrevoApiKey" value="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" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SedePortBinding" />
				<binding name="UsuarioPortBinding" />
				<binding name="MesaPortBinding" />
				<binding name="NotificacionPortBinding" />
				<binding name="ComentarioPortBinding" />
				<binding name="LocalPortBinding" />
				<binding name="FilaEsperaPortBinding" />
				<binding name="HorarioAtencionPortBinding" />
				<binding name="HorarioxSedePortBinding" />
				<binding name="MotivoCancelacionPortBinding" />
				<binding name="ReservaPortBinding" />
				<binding name="ReservaxMesaPortBinding" />
				<binding name="TipoDocumentoPortBinding" />
				<binding name="TipoMesaPortBinding" />
				<binding name="RolPortBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8080/SoftResWSCliente/sedes" binding="basicHttpBinding" bindingConfiguration="SedePortBinding" contract="SedeWSClient.Sede" name="SedePort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/usuarios" binding="basicHttpBinding" bindingConfiguration="UsuarioPortBinding" contract="UsuarioWSClient.Usuario" name="UsuarioPort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/mesas" binding="basicHttpBinding" bindingConfiguration="MesaPortBinding" contract="MesaWSClient.Mesa" name="MesaPort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/notificaciones" binding="basicHttpBinding" bindingConfiguration="NotificacionPortBinding" contract="NotificacionWSClient.Notificacion" name="NotificacionPort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/comentarios" binding="basicHttpBinding" bindingConfiguration="ComentarioPortBinding" contract="ComentarioWSClient.Comentario" name="ComentarioPort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/locales" binding="basicHttpBinding" bindingConfiguration="LocalPortBinding" contract="LocalWSClient.Local" name="LocalPort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/filaEspera" binding="basicHttpBinding" bindingConfiguration="FilaEsperaPortBinding" contract="FilaEsperaWSClient.FilaEspera" name="FilaEsperaPort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/horarioAtencion" binding="basicHttpBinding" bindingConfiguration="HorarioAtencionPortBinding" contract="HorarioAtencionWSClient.HorarioAtencion" name="HorarioAtencionPort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/horarioxsede" binding="basicHttpBinding" bindingConfiguration="HorarioxSedePortBinding" contract="HorarioxSedeWSClient.HorarioxSede" name="HorarioxSedePort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/motivoCancelacion" binding="basicHttpBinding" bindingConfiguration="MotivoCancelacionPortBinding" contract="MotivoCancelacionWSClient.MotivoCancelacion" name="MotivoCancelacionPort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/reservas" binding="basicHttpBinding" bindingConfiguration="ReservaPortBinding" contract="ReservaWSClient.Reserva" name="ReservaPort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/reservaxmesa" binding="basicHttpBinding" bindingConfiguration="ReservaxMesaPortBinding" contract="ReservaxMesaWSClient.ReservaxMesa" name="ReservaxMesaPort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/tipoDocumento" binding="basicHttpBinding" bindingConfiguration="TipoDocumentoPortBinding" contract="TipoDocumentoWSClient.TipoDocumento" name="TipoDocumentoPort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/tipoMesa" binding="basicHttpBinding" bindingConfiguration="TipoMesaPortBinding" contract="TipoMesaWSClient.TipoMesa" name="TipoMesaPort" />
			<endpoint address="http://localhost:8080/SoftResWSCliente/rol" binding="basicHttpBinding" bindingConfiguration="RolPortBinding" contract="RolWSClient.Rol" name="RolPort" />
		</client>
	</system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>