<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SedePortBinding" />
                <binding name="UsuarioPortBinding" />
                <binding name="MesaPortBinding" />
                <binding name="NotificacionPortBinding" />
                <binding name="ComentarioPortBinding" />
                <binding name="LocalPortBinding" />
                <binding name="FilaEsperaPortBinding" />
                <binding name="HorarioAtencionPortBinding" />
                <binding name="HorarioxSedePortBinding" />
                <binding name="MotivoCancelacionPortBinding" />
                <binding name="ReservaPortBinding" />
                <binding name="ReservaxMesaPortBinding" />
                <binding name="TipoDocumentoPortBinding" />
                <binding name="TipoMesaPortBinding" />
                <binding name="RolPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SoftResWSCliente/sedes"
                binding="basicHttpBinding" bindingConfiguration="SedePortBinding"
                contract="SedeWSClient.Sede" name="SedePort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/usuarios"
                binding="basicHttpBinding" bindingConfiguration="UsuarioPortBinding"
                contract="UsuarioWSClient.Usuario" name="UsuarioPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/mesas"
                binding="basicHttpBinding" bindingConfiguration="MesaPortBinding"
                contract="MesaWSClient.Mesa" name="MesaPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/notificaciones"
                binding="basicHttpBinding" bindingConfiguration="NotificacionPortBinding"
                contract="NotificacionWSClient.Notificacion" name="NotificacionPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/comentarios"
                binding="basicHttpBinding" bindingConfiguration="ComentarioPortBinding"
                contract="ComentarioWSClient.Comentario" name="ComentarioPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/locales"
                binding="basicHttpBinding" bindingConfiguration="LocalPortBinding"
                contract="LocalWSClient.Local" name="LocalPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/filaEspera"
                binding="basicHttpBinding" bindingConfiguration="FilaEsperaPortBinding"
                contract="FilaEsperaWSClient.FilaEspera" name="FilaEsperaPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/horarioAtencion"
                binding="basicHttpBinding" bindingConfiguration="HorarioAtencionPortBinding"
                contract="HorarioAtencionWSClient.HorarioAtencion" name="HorarioAtencionPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/horarioxsede"
                binding="basicHttpBinding" bindingConfiguration="HorarioxSedePortBinding"
                contract="HorarioxSedeWSClient.HorarioxSede" name="HorarioxSedePort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/motivoCancelacion"
                binding="basicHttpBinding" bindingConfiguration="MotivoCancelacionPortBinding"
                contract="MotivoCancelacionWSClient.MotivoCancelacion" name="MotivoCancelacionPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/reservas"
                binding="basicHttpBinding" bindingConfiguration="ReservaPortBinding"
                contract="ReservaWSClient.Reserva" name="ReservaPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/reservaxmesa"
                binding="basicHttpBinding" bindingConfiguration="ReservaxMesaPortBinding"
                contract="ReservaxMesaWSClient.ReservaxMesa" name="ReservaxMesaPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/tipoDocumento"
                binding="basicHttpBinding" bindingConfiguration="TipoDocumentoPortBinding"
                contract="TipoDocumentoWSClient.TipoDocumento" name="TipoDocumentoPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/tipoMesa"
                binding="basicHttpBinding" bindingConfiguration="TipoMesaPortBinding"
                contract="TipoMesaWSClient.TipoMesa" name="TipoMesaPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/rol"
                binding="basicHttpBinding" bindingConfiguration="RolPortBinding"
                contract="RolWSClient.Rol" name="RolPort" />
        </client>
    </system.serviceModel>
</configuration>