<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SedePortBinding" />
                <binding name="UsuarioPortBinding" />
                <binding name="MesaPortBinding" />
                <binding name="NotificacionPortBinding" />
                <binding name="ComentarioPortBinding" />
                <binding name="LocalPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SoftResWSCliente/sedes"
                binding="basicHttpBinding" bindingConfiguration="SedePortBinding"
                contract="SedeWSClient.Sede" name="SedePort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/usuarios"
                binding="basicHttpBinding" bindingConfiguration="UsuarioPortBinding"
                contract="UsuarioWSClient.Usuario" name="UsuarioPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/mesas"
                binding="basicHttpBinding" bindingConfiguration="MesaPortBinding"
                contract="MesaWSClient.Mesa" name="MesaPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/notificaciones"
                binding="basicHttpBinding" bindingConfiguration="NotificacionPortBinding"
                contract="NotificacionWSClient.Notificacion" name="NotificacionPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/comentarios"
                binding="basicHttpBinding" bindingConfiguration="ComentarioPortBinding"
                contract="ComentarioWSClient.Comentario" name="ComentarioPort" />
            <endpoint address="http://localhost:8080/SoftResWSCliente/locales"
                binding="basicHttpBinding" bindingConfiguration="LocalPortBinding"
                contract="LocalWSClient.Local" name="LocalPort" />
        </client>
    </system.serviceModel>
</configuration>