<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SedePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SoftResWSCliente/sedes"
                binding="basicHttpBinding" bindingConfiguration="SedePortBinding"
                contract="SedeWSClient.Sede" name="SedePort" />
        </client>
    </system.serviceModel>
</configuration>